*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Epilogue', sans-serif;
}

header{
    height: 8.7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}

header .wrapper-logo-links{
    display: flex;
    align-items: center;
    gap: 3.6rem;
    padding: 1.2rem;
}

header .wrapper-logo-links img{
    width: 4.5rem;
}

header .wrapper-logo-links ul{
    display: flex;
    list-style:none;
    gap: 2.5rem;
}

header .wrapper-logo-links ul li{
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    position: relative;
}

header .wrapper-logo-links ul li:hover .second-list,
header .wrapper-logo-links ul li:hover .second-list-company,
header .wrapper-logo-links ul li:focus-within .second-list,
header .wrapper-logo-links ul li:focus-within .second-list-company{
    display: flex;
}

header .wrapper-logo-links ul li:hover #arrow{
    transition: .3s ease-in-out;
    transform: rotate(180deg);
    
}

header .wrapper-logo-links ul li a{
    text-decoration:none;
    color:hsl(0, 0%, 41%);
}

header .wrapper-logo-links ul li a:hover{
    color: hsl(0, 0%, 8%);
}

header .wrapper-logo-links ul li img{
    width: .5rem;
}

header .wrapper-logo-links .second-list{
    position: absolute;
    justify-content: center;
    gap:.8rem;
    flex-direction: column;
    top: 2.1rem;
    right: 0;
    background: #fff;
    border-radius: .5rem;
    padding: 1.4rem 1.1rem;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    display: none;
}

header .wrapper-logo-links .second-list-company{
    position: absolute;
    justify-content: center;
    gap:.8rem;
    flex-direction: column;
    top: 2.1rem;
    left: 0;
    background: #fff;
    border-radius: .5rem;
    padding: 1.4rem 1.3rem;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    white-space:nowrap;
    display: none;
}

header .wrapper-logo-links .second-list img{
    width: .8rem;
    margin-right: .5rem;
}

header .another-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
}

header .another-links a{
    font-size: .8rem;
    text-decoration:none;
    color: hsl(0, 0%, 41%);
}

header .another-links #register{
    padding: .6rem 1rem;
    border: 2px hsl(0, 0%, 41%) solid;
    border-radius: .7rem;
}


.attribution { 
    /* display: none; */
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 90vh;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}